Options +FollowSymlinks

RewriteEngine On

# Restricción de acceso al archivo env.php
<Files "env.php">
    Require all denied
</Files>

# Regla Sitemap
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Excepción para robots.txt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/robots\.txt$ [NC]

# Reglas de reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(js|css|png|jpg|jpeg|gif|ico|svg)$ [NC]
RewriteRule ^(.*)$ index.php [L,QSA]

