footer {
  background-color: var(--color-secondary);
  color: var(--color-dark);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 60px 0 100px 0;

  .footer-info-content {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 5px 0;
    }

    .footer--info--socialmedia {
      .socialmedia {
        display: flex;
        justify-content: space-between;

        img {
          width: 64px;
          height: 64px;

        }
      }
      @media screen and (max-width: 1000px) {
        .socialmedia {
          img {
            width: 48px;
            height: 48px;
          }
        }
      }

      @media screen and (max-width: 760px) {
        .socialmedia {
          justify-content: space-evenly;
          img {
            width: 48px;
            height: 48px;
          }
        }
      }

      @media screen and (max-width: 580px) {
        .socialmedia {
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .footer--info--contact {
      > div, > div > a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
      }

      a {
        color: var(--color-dark);

        > img {
          width: auto;
          height: 100%;
        }
      }

      p {
        text-align: end;
        width: 357px;
      }
    }


    @media screen and (max-width: 1200px) {
      max-width: 960px;
    }
  
    @media screen and (max-width: 1000px) {
      max-width: 720px;

      .footer--info--contact {
        > div {
          p {
            width: 330px;
          }
        }
      }
    }
  
    @media screen and (max-width: 760px) {
      max-width: 100%;
      padding: 0 20px;
      flex-direction: column;

      .socialmedia {
        margin: 0 0 20px 0;
      }

      p {
        text-align: end;
      }
    } // FIN @media screen and (max-width: 760px)
  }

}