.page-not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  .page-not-found {
    height: 50vh;
    background-color: var(--color-primary);

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2 {
        font-size: 10rem;
        color: var(--color-background);
        margin-bottom: 20px;
      }

      h1 {
        font-size: 4rem;
        color: var(--color-background);
        margin-bottom: 20px;
      }
    }
  }
}

main {
  .page-not-found {

    section {
      padding: 40px 0 40px 0;
    }

    // @media screen and (max-width: 760px) {
    //   height: calc(50vh - 80px);
    // }
  }
}