// #dbdde1

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 0 50px 0;

  h2 {
    margin: 20px 0;
  }

  .user_ratings_total_content {
    margin: -50px 0 20px 0;
    
    > h3 {
      font-size: 55px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;

      > img {
        width: 30px;
      }
    }
    .slide-rating {
      display: flex;
      flex-direction: row;
      gap: 5px;
      font-size: 24px;
      position: relative;
      
      .slide-rating-stars {
        display: inline-block;
        width: 1em;
        height: 1em;
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
        background-color: #ccc; 

      }
      .slide-rating-stars-filled {
        background-color: gold;
      }

      .slide-rating-stars-half {
        background: linear-gradient(to right, gold 50%, #ccc 50%);
      }
    }
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--review-button-color);
      color: var(--color-background);
      border: none;
      padding: 10px 20px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      clip-path: polygon(50% 0, 100% 100%, 0% 100%);
      transform: rotate(-90deg);
      
      &:hover {
        background-color: var(--hover-color);
      }
    }

    .slide-right {
      right: 0;
      transform: rotate(90deg);
    }
    

    .review {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 100%;
      transition: all .5s;

      .slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        hyphens: auto;
        word-wrap: break-word;
        font-size: 23px;
        margin: 8px;
        padding: 20px;
        width: 100%;
        min-width: 65%;
        border-radius: 15px;
        // border: 1px solid #dbdde1;
        // border: 1px solid #b91f6c;
        border: 1px solid #F8E5E5;
        box-shadow: 6px 6px 9px -6px;
        background-color: var(--color-background);
        filter: blur(1px) grayscale(0.75);
        transform: scaleY(0.9);
        transition: all 0.2s ease-in;

        .slide-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          img {
            width: 32px;
            height: 32px;
          }
        }            
        
        .slide-rating {
          display: flex;
          gap: 5px;
          font-size: 24px;
          position: relative;
          
          .slide-rating-stars {
            display: inline-block;
            width: 1em;
            height: 1em;
            clip-path: polygon(
              50% 0%,
              61% 35%,
              98% 35%,
              68% 57%,
              79% 91%,
              50% 70%,
              21% 91%,
              32% 57%,
              2% 35%,
              39% 35%
            );
            background-color: #ccc; 

          }
          .slide-rating-stars-filled {
            background-color: gold;
          }

          .slide-rating-stars-half {
            background: linear-gradient(to right, gold 50%, #ccc 50%);
          }
        }

        .slide-text {
          hyphens: auto;
          word-wrap: break-word;
          font-size: 23px;
          margin: 0;
          padding: 0;

          &::after {
            content: none;
          }
        }

        .slide-author {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          margin: 0;
          padding: 0;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            // border: 2px solid var(--main-brand-color);
          }

          .slide-author-name {
            font-size: 23px;
            margin: 0;
            padding: 0;
          }

          .slide-author-date {
            font-size: 16px;
            margin: 0;
            padding: 0;
          }
        }
      } // .slide

      .slide-active {
        transform: unset;
        filter: unset;
      }
    }
  }

  .more-reviews {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > a {
      all: unset;
      color: var(--color-primary);
      padding: 5px 10px;
      border-radius: 10px;

      &:hover {
        color: var(--color-background);
        background-color: var(--color-primary);
      }
    }
  }

} // .reviews-section

@media screen and (max-width: 1000px) {

  .reviews-section {
    .reviews-list {
      .review {
        .slide {
          max-width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {

  .reviews-section {
    .reviews-list {
      .review {
        .slide {
          max-width: 100%;
          min-width: 79%;

          .slide-text {
            font-size: 1rem;
          }

          .slide-author {
            .slide-author-name {
              font-size: 1.2rem;
            }

            .slide-author-date {
              font-size: 1rem;
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .reviews-section {
    .reviews-list {
      width: calc(100vw - 60px);
      .review {
        .slide {
          max-width: 100%;
          min-width: 79%;

          .slide-text {
            font-size: 0.9rem;
          }

          .slide-author {
            .slide-author-name {
              font-size: 1rem;
            }

            .slide-author-date {
              font-size: 0.9rem;
            }
          }

        }
      }
    }
  }
}