.whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  // max-width: 1140px;
  height: 50px;
  bottom: 50px;
  z-index: 98;
  color: var(--color-background);
  padding: 0 10px 0 0;

  .whatsapp-content {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    // &:hover {
    //   width: 200px;
    // }

    .whatsapp-image {
      background-color: var(--whatsapp-background-color);
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      border-radius: 50px;
      cursor: pointer;
      overflow: hidden;

      img {
        width: 40px;
        height: 40px;
        margin: 0 5px 0 5px;
        transform: rotate3d(0, 1, 0, 0deg);
        animation: rotate 60s linear infinite;

        // crear animación de rotación
        @keyframes rotate {
          0% {
            transform: rotate3d(0, 1, 0, 0deg);
          }
          89% {
            transform: rotate3d(0, 1, 0, 0deg);
          }
          90% {
            transform: rotate3d(0, 1, 0, 360deg);
          }
          91% {
            transform: rotate3d(0, 1, 0, 0deg);
          }
          93% {
            transform: rotate3d(0, 1, 0, 360deg);
          }
          96% {
            transform: rotate3d(0, 1, 0, 0deg);
          }
        }
      }

      span {
        font-size: 1.8rem;
        font-weight: 600;
      }

      &:hover {
        // width: 100%;
        width: 200px;
      }
    }
  }

  .whatsapp-mobile {
    justify-content: flex-start;
    width: 50px;
    margin: 0 10px 0 0;

    .whatsapp-image {
      &:hover {
        width: 50px;
      }
    }
  }

  // @media screen and (max-width: 1200px) {
  //   max-width: 960px;
  // }
  
  // @media screen and (max-width: 1000px) {
  //   max-width: 720px;
  // }

  // @media screen and (max-width: 760px) {
  //   max-width: 540px;
  // }

  // @media screen and (max-width: 580px) {
  //   max-width: 100%;
  // }

}