header {
  .home {
    background-image: url("../img/firma.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(circle, 
        #ffffff00 10%,    /* Transparente al inicio */
        #f7ecef11 30%,    /* Color suave en el primer tercio */
        #be5c7393 60%,    /* Color medio en el segundo tercio */
        #a72242cc 90%     /* Color oscuro en el borde final */
      );
      z-index: 1;
    }

    .content {
      z-index: 2;
      align-items: flex-start;
    }

    h1 {
      display: flex;
      flex-direction: column;
      color: var(--color-background);
      margin-bottom: 20px;
      text-shadow: 0 0 10px var(--color-dark);

      span {
        font-weight: 900;
      }
    }
    
    h2 {
      font-weight: 400;
      color: var(--color-background);
      text-shadow: 0 0 10px var(--color-dark);
    }
  }
}

main {
  .home {
    section {
      padding: 40px 0 0 0;
    }

    .index-main--servicios-destacados {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        gap: 40px;

        li {
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--color-dark);
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: var(--servicios-destacados-width);
          height: var(--servicios-destacados-height);
          border: unset;
          border-radius: 15px;
          box-shadow: 3px 3px 15px -5px;
          position: relative;

          button {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: flex-end;
            padding: 10px 30px;
            font-size: 0.7rem;
            color: var(--color-primary);
          }
        }

        @media screen and (max-width: 1200px) {
          justify-content: space-around;
        }

        @media screen and (max-width: 1000px) {
          justify-content: space-evenly;
        }
      }
    } // FIN .index-main--servicios-destacados

    .index-main--nuestros-servicios {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      gap: 40px;

      .image {
        flex: 1;
        width: 511px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        background-image: url("../img/balanza_2.jpg");
        background-size: cover;
        background-position: center;

        @supports (background-image: url("data:image/webp;base64,UklGRh4AAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmkA0HQAA3AA/vuUAAA=")) {
          background-image: url("../img/balanza_2.webp");
        }
      }

      .text {
        width: 400px;
        flex: 1;
        text-align: justify;

        p {
          &:not(:last-of-type)::after {
            content: "";
            display: block;
            width: 102px;
            height: 2px;
            background-color: var(--color--primary);
            margin: 12px auto;
          }
        }
      }

      @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;

        .image {
          width: 100%;
          margin-bottom: unset;
          aspect-ratio: 25 / 16;
        }

        .text {
          width: 100%;
        }
      }
    } // FIN .index-main--nuestros-servicios

    .index-main--primer-consulta-gratis {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0 60px 0;

      .index-main--primer-consulta-gratis-content {
        background-color: var(--color-primary);
        width: fit-content;
        height: var(--primer-consulta-gratis-height);
        border-radius: var(--primer-consulta-gratis-borderRadius);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h2 {
        margin: 20px 80px;
        color: var(--color-background);
      }

      @media screen and (max-width: 1000px) {
        h2 {
          font-size: 1.5rem;
        }
      }

      @media screen and (max-width: 760px) {
        .index-main--primer-consulta-gratis-content {
          height: calc(var(--primer-consulta-gratis-height) - 30px);
        }

        h2 {
          font-size: 1.2rem;
          margin: 0 30px;
        }
      }

      @media screen and (max-width: 580px) {
        .index-main--primer-consulta-gratis-content {
          height: calc(var(--primer-consulta-gratis-height) - 55px);
        }

        h2 {
          font-size: 1rem;
          margin: 0 15px;
        }
      }

      @media screen and (max-width: 425px) {
        h2 {
          font-size: 0.75rem;
        }
      }
    } // FIN .index-main--primer-consulta-gratis
  }
}