main {
  .sobremi {
    section {
      padding: 40px 0 0 0;

      > p {
        padding: 0 0 20px 0;
      }

      &:last-child {
        padding: 0 0 40px 0;
      }
    }

    .sobremi-image {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      gap: 40px;

      .sobremi-image-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: space-between;

        p {
          &:not(:last-of-type)::after {
            content: "";
            display: block;
            width: 102px;
            height: 2px;
            background-color: var(--color--primary);
            margin: 12px auto;
          }
        }
      }

      .sobremi-image-img {
        flex: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 350px;

        img {
          width: 100%;
          background-image: url("../img/Imagen_sobre_mi.jpg");
          background-size: cover;
          background-position: center;
  
          @supports (background-image: url("data:image/webp;base64,UklGRh4AAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmkA0HQAA3AA/vuUAAA=")) {
            background-image: url("../img/Imagen_sobre_mi.webp");
          }

        }
      }
    }

    .reviews-section {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      margin: 0 0 50px 0;

      h2 {
        margin: 20px 0;
      }

      .reviews-list {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        overflow: hidden;
        position: relative;

        button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: var(--review-button-color);
          color: var(--color-background);
          border: none;
          padding: 10px 20px;
          font-size: 1.2rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          clip-path: polygon(50% 0, 100% 100%, 0% 100%);
          transform: rotate(-90deg);
          
          &:hover {
            background-color: var(--hover-color);
          }
        }

        .slide-right {
          right: 0;
          transform: rotate(90deg);
        }
        

        .review {
          display: flex;
          flex-direction: row;
          gap: 20px;
          width: 100%;
          transition: all .5s;

          .slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            hyphens: auto;
            word-wrap: break-word;
            font-size: 23px;
            margin: 8px;
            padding: 20px;
            width: 100%;
            min-width: 65%;
            border-radius: 15px;
            box-shadow: 6px 6px 9px -6px;
            background-color: var(--color-background);
            filter: blur(1px) grayscale(0.75);
            transform: scaleY(0.9);
            transition: all 0.2s ease-in;

            .slide-header {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              img {
                width: 32px;
                height: 32px;
              }
            }            
            
            .slide-rating {
              display: flex;
              gap: 5px;
              font-size: 24px;
              position: relative;
              
              .slide-rating-stars {
                display: inline-block;
                width: 1em;
                height: 1em;
                clip-path: polygon(
                  50% 0%,
                  61% 35%,
                  98% 35%,
                  68% 57%,
                  79% 91%,
                  50% 70%,
                  21% 91%,
                  32% 57%,
                  2% 35%,
                  39% 35%
                );
                background-color: #ccc; 

              }
              .slide-rating-stars-filled {
                background-color: gold;
              }

              .slide-rating-stars-half {
                background: linear-gradient(to right, gold 50%, #ccc 50%);
              }
            }

            .slide-text {
              hyphens: auto;
              word-wrap: break-word;
              font-size: 23px;
              margin: 0;
              padding: 0;

              &::after {
                content: none;
              }
            }

            .slide-author {
              display: flex;
              flex-direction: row;
              gap: 10px;
              align-items: center;
              margin: 0;
              padding: 0;

              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                // border: 2px solid var(--main-brand-color);
              }

              .slide-author-name {
                font-size: 23px;
                margin: 0;
                padding: 0;
              }

              .slide-author-date {
                font-size: 16px;
                margin: 0;
                padding: 0;
              }
            }
          } // .slide

          .slide-active {
            transform: unset;
            filter: unset;
          }
        }
      }

      .more-reviews {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        > a {
          all: unset;
          color: var(--color-primary);
          padding: 5px 10px;
          border-radius: 10px;

          &:hover {
            color: var(--color-background);
            background-color: var(--color-primary);
          }
        }
      }
    } // .reviews-section

    @media screen and (max-width: 1000px) {
      p {
        font-size: 1.4rem;
      }

      .reviews-section {
        .reviews-list {
          .review {
            .slide {
              max-width: 85%;
            }
          }
        }
      }
    }

    @media screen and (max-width: 760px) {
      .sobremi-image {
        flex-direction: column;
      }

      .reviews-section {
        .reviews-list {
          .review {
            .slide {
              max-width: 100%;
              min-width: 79%;

              .slide-text {
                font-size: 1rem;
              }

              .slide-author {
                .slide-author-name {
                  font-size: 1.2rem;
                }
  
                .slide-author-date {
                  font-size: 1rem;
                }
              }

            }
          }
        }
      }
    }

    @media screen and (max-width: 580px) {
      .reviews-section {
        .reviews-list {
          width: calc(100vw - 60px);
          .review {
            .slide {
              max-width: 100%;
              min-width: 79%;

              .slide-text {
                font-size: 0.9rem;
              }

              .slide-author {
                .slide-author-name {
                  font-size: 1rem;
                }
  
                .slide-author-date {
                  font-size: 0.9rem;
                }
              }

            }
          }
        }
      }
    }
  }
}