header.about-me {
  background-image: none;
  height: unset;
  margin: 100px 0 0 0;

  .content {
    padding: 0;
  }

  &::before {
    content: none;
  }
}

main.about-me {
  .content {
    section {
      display: flex;
      flex-direction: row;
      gap: 50px;

      &:nth-child(1) {
        p:nth-child(1) {
          margin: 0;
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        margin: 50px 0 0 0;
      }

      .texto {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 1520px;
      }

      p {
        // margin: 0 0 30px 0;
        hyphens: auto;
        word-wrap: break-word;
        font-size: 23px;

        &::after {
          content: none;
        }
      }

      // source,
      // img {
      //   width: 100%;
      //   // margin: 0 0 30px 0;
      // }

      .compromiso .image {
        width: 100%;
        height: 100%;
        min-height: 580px;
        background-image: url("../img/Imagen_sobre_mi.jpg");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;

        @supports (background-image: url("data:image/webp;base64,UklGRh4AAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmkA0HQAA3AA/vuUAAA=")) {
          background-image: url("../img/Imagen_sobre_mi.webp");
        }
      }

      .video {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      
      .reviews-section {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .reviews-list {
          display: flex;
          flex-direction: column;
          gap: 50px;

          .review {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 400px;

            p {
              hyphens: auto;
              word-wrap: break-word;
              font-size: 23px;

              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}