:root {
  --main-brand-color: #aa2342ff;
  --main-background-color: #ffffff;
  --accent-color: #bd546c;
  --hover-color: #aa2342e5;
  --primary-text-color: rgb(25, 26, 26);
  --secondary-text-color: #ffffff;
  --secondary-background-color: #e3e3e3ff;
  --border-color: #aa2342;
  --border-color-footer: #ffffff;
  --footer-background-color: #c9c9c9;

  --nav-content-width: 1190px;
  --nav-content-height: 100px;
  --nav-scroll-height: calc(var(--nav-content-height) - 20px);
  --main-content-width: 1050px;

  --header-logo-width: 120px;

  --button-height: 40px;
  --button-radius: 31px;
  --button-padding: 0px 23px;
  --button-font-size: 16px;

  --circular-card-width: 306px;
  --circular-card-height: 147px;
  --circular-card-radius: 75px;

  --footer-info-p: 26px;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Italic-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  padding: var(--nav-content-height) 0 0 0;

  &::before {
    content: "";
    display: block;
    width: 100%;
    max-width: var(--nav-content-width);
    height: 1px;
    background-color: var(--main-brand-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  
  span {
    display: block;
  }
}

h2 {
  font-size: 53px;
  font-weight: 400;
  color: var(--main-brand-color);
  margin: -15px 0 0 0;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  
  span {
    display: block;
  }
}

p {
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  span {
    font-weight: 500;
  }
}

.content {
  width: var(--main-content-width);
  max-width: 1050px;
  display: flex;
  flex-direction: column;
}
