header {
  background-image: url("../img/firma.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, 
      #ffffff00 10%,    /* Transparente al inicio */
      #f7ecef11 30%,    /* Color suave en el primer tercio */
      #be5c7393 60%,    /* Color medio en el segundo tercio */
      #a72242cc 90%     /* Color oscuro en el borde final */
    );
    z-index: 1;
  }

  h2 {
    color: var(--primary-text-color);
    font-size: 1.7rem;
  }

  .content {
    padding: 0 0 20px 0;
    z-index: 2;
  }
}