/*
  Medium screens

  Max width: 1219px
  Min width: 992px
*/
@media screen and (max-width: 1219px) {
  :root {
    --nav-content-width: 960px;
    --main-content-width: 850px;

    --header-logo-width: 160px;

    --button-height: 51px;
    --button-radius: 26px;
    --button-padding: 0px 19px;
    --button-font-size: 18px;

    --circular-card-width: 260px;
    --circular-card-height: 125px;
    --circular-card-radius: 65px;

    --footer-info-p: 23px;
  }

  h1 {
    font-size: 44px;
  }
  
  h2 {
    font-size: 49px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 21px;
  }

  main {
    .content {

      section {
        .featured-our-values {
          gap: 30px;
        }

        p {
          &:not(:last-of-type)::after {
            margin: 24px auto;
          }
        }
      }
    }
  }
}