@mixin nav-content-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: var(--nav-content-width);
  width: 100%;
}

@mixin nav-ul-styles {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

@mixin button-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  font-size: var(--button-font-size);
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  height: var(--button-height);
}
