/*
    Mobile screens

    Max width: 767px
    Min width: 320px
*/
@media screen and (max-width: 767px) {
  :root {
    --nav-content-width: 100%;
    --nav-content-height: 60px;
    --main-content-width: calc(100% - 40px);

    --header-logo-width: 75px;

    --button-height: 35px;
    --button-radius: 20px;
    --button-padding: 0px 15px;
    --button-font-size: 14px;

    --circular-card-width: 180px;
    --circular-card-height: 85px;
    --circular-card-radius: 50px;

    --footer-info-p: 17px;
  }

  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 34px;
  }

  p {
    font-size: 17px;
  }
}