/*
  Medium screens
  
  Max width: 991px
  Min width: 768px
*/
@media screen and (max-width: 991px) {
  :root {
    --nav-content-width: 720px;
    --nav-content-height: 70px;
    --main-content-width: 720px;

    --header-logo-width: 80px;

    --button-height: 35px;
    --button-radius: 23px;
    --button-padding: 0px 17px;
    --button-font-size: 14px;

    --circular-card-width: 220px;
    --circular-card-height: 105px;
    --circular-card-radius: 55px;

    --footer-info-p: 19px;
  }

  h1 {
    font-size: 41px;
  }
  
  h2 {
    font-size: 39px;
  }

  p {
    font-size: 19px;
  }

  main {
    .content {
      section {
        .featured-our-values {
          .image {
            height: unset;
          }
        }
      }
    }
  }

  footer {
    .footer--info {
      p {
        source,
        img {
          width: 22px;
        }
      }

      p:nth-child(2) source {
        width: 25px;
      }

      p:nth-child(2) img {
        width: 25px;
      }
    }
  }
}