/*
* content
* por defecto 1140px para pantallas grandes, es decir >=1200px
* y 100% para pantallas pequeñas.
* pantallas con >=992px tendrá un ancho de 960px.
* pantallas con >=768px tendrá un ancho de 720px.
* pantallas con >=576px tendrá un ancho de 540px.
* pantallas <576px tendrá un ancho del 100%.
*/
.content {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }

  @media screen and (max-width: 1000px) {
    max-width: 720px;
  }

  @media screen and (max-width: 760px) {
    max-width: 540px;
    padding: 0 20px;
  }

  @media screen and (max-width: 580px) {
    max-width: 100%;
    padding: 0 20px;
  }
}