nav {
  background-color: var(--color-background);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 20px;

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
      padding: 20px 0;

      li {
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          font-weight: 600;
          cursor: pointer;

          background-color: var(--accent-color);
          color: var(--color-background);
          padding: 10px 50px;
          border-radius: 25px;

          &:hover {
            background-color: var(--hover-color);
          }
        }

        .active {
          background-color: var(--color-primary);

          @media screen and (max-width: 760px) {
            background-color: unset;
            color: var(--color-primary);
          }
        }
      }
    }

    label {
      display: none;
      width: 50px;
      height: 50px;
      position: relative;
      cursor: pointer;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        border-radius: 2px;
        transition: all 0.3s ease-in-out;

        &:nth-child(1) {
          transform: translateY(10px);
        }

        &:nth-child(2) {
          transform: translateY(25px);
        }

        &:nth-child(3) {
          transform: translateY(40px);
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-dark);
        text-decoration: none;
        font-weight: 900;

        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      max-width: 960px;

      ul {
        li {
          a {
            padding: 9px 25px;
          }
        }
      }
    }

    @media screen and (max-width: 1000px) {
      max-width: 720px;

      ul {
        li {
          a {
            padding: 8px 15px;
          }
        }
      }
    }

    @media screen and (max-width: 760px) {
      padding: 0 0 0 0;

      label {
        display: block;
      }

      ul {
        flex-direction: column;
        position: fixed;
        align-items: flex-end;
        padding: 0 60px;
        top: 80px;
        left: 110vw;
        height: 100vh;
        width: 100%;
        background: var(--color-background);
        transition: all 0.3s ease-in-out;

        li {
          opacity: 0;
          transition: all 0.6s ease-in-out 0.2s;

          a {
            background-color: unset;
            color: var(--accent-color);
            padding: unset;
            border-radius: unset;
          }
        }
      }

      .logo {
        a {
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }

    input {
      display: none;

      &:checked {
        ~ label {
          span {
            &:nth-child(1) {
              transform: rotate(45deg) translate(20px, 20px);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: rotate(-45deg) translate(-20px, 20px);
            }
          }
        }
        ~ ul {
          left: 0;

          li {
            opacity: 1;
          }
        }
      }
    }
  }
}